<%- include("../templates/header") -%>
<a href="/machines-turnabout"><button type="button" name="buttonEN">EN</button></a>
<a href="/juicio-de-las-maquinas"><button type="button" name="buttonES" href="">ES</button></a>
<div class="banner">
  <h1><%= msg.title %></h1>
  <p><%= msg.subtitle %></p>
</div>
<div class="article">
  <p><%= msg.intro %></p>
  <div class="iframe-container">
    <iframe src="iframes/test/index.html"></iframe>
  </div>
</div>



<%- include("../templates/footer") -%>
