<%- include("../templates/header") -%>
<div class="banner" style=" background-image: url('../srcs/images/cover_color_draft.png')">
  <h1><%= msg.content.title %></h1>
  <p><%= msg.content.subtitle %></p>
</div>
<div class="article">
  <p><%- msg.content.text.p1 %></p>
  <p><%- msg.content.text.p2 %></p>
  <p><%- msg.content.text.p3 %></p>
  <p><%- msg.content.text.p4 %></p>

</div>
<div class="iframe-container">
  <iframe src="iframes/test/index.html"></iframe>
</div>

<div class="tooltipbox" id="tt-orb" >
  <img src="srcs/images/orb_sketch.png" class="tt-image"></img>
  <p><%- msg.tooltip.orb %></p>
</div>

<script src="js/machines/main.js"></script>
<%- include("../templates/footer") -%>
